div.element.newslatest
{
    display: block;
}

div.element.newslatest div.list
{
    padding: 0 0 20px 0;
}

div.element.newslatest div.news_item
{
    padding: 0 0 12px 0;
}

div.element.newslatest div.news_item span.date
{
    color: #707070;
    background: #2a2a28;
    font-size: 1.2em;
    padding: 0 8px;
    border-left: 6px solid #66242d;
    display: block;
    width: 84px;
}

div.element.newslatest div.news_item div.content
{
    margin: 5px 0 0 0;
}

div.element.newslatest div.news_item div.content h2.title
{
    font-size: 1.0em;
    padding: 0;
}

div.element.newslatest div.news_item div.content h2.title a
{
    text-decoration: none;
    font-weight: normal;
    color: #898989;
}

div.element.newslatest div.link
{
    float: left;
    background: url("../../img/link-mehr-erfahren.png") no-repeat left center transparent;
    height: 17px;
    padding: 0 0 0 25px;
}

div.element.newslatest div.link a
{
    text-decoration: none;
    color: #bfbfbf;
    font-size: 0.9em;
}

div.element.newslatest div.link a:hover
{
    text-decoration: underline;
}